@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Inter:wght@400;500&family=Nunito&family=Raleway:wght@200;300;400&family=Source+Code+Pro:wght@300&display=swap');
body{
    margin: 0;
}
.main_container_home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
  }
  
  .Initial_Nav {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
   
    display: flex;
   
    flex-direction: column;
    list-style-type: none;
    padding: 0;
  }
  
  .Initial_Nav li {
    padding: 25px;
    /* From https://css.glass */
   
    transition: background-color 0.3s ease;
    border-radius: 10px;
  }
  
  .Initial_Nav li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
  }
  
  .Initial_Nav li:hover {
    background-color: #f2f2f2;
  }

  