/* Student_Attendance_Take.css */

.take-attendance-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-family: Arial, sans-serif;
  }
  
  .take-attendance-container h1 {
    margin-bottom: 20px;
  }
  
  .take-attendance-button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .take-attendance-button:hover {
    background-color: #45a049;
  }
  